@font-face {
    font-family:'Avenir Black';
    src: url(../fonts/Avenir-Black.ttf);
    font-family: 'Avenir Book';
    src: url(../fonts/Avenir-Book.ttf);
    font-family: 'Avenir Regular';
    src: url(../fonts/Avenir-Regular.ttf);
}
:root{
    --backround-color: #000;

    --color-primario: #0D0303;
    --color-arcoiris:linear-gradient(#CB487B 25%, #D1B507 25%,#5FAA5A 25%,#3193C7 25%);
    
    --fuente-h1:"FSP DEMO - TT Nrms Pr xtrBlck Regular", "FSP DEMO - TT Nrms Pr xtrBlck", 'FSP DEMO - TT Nrms Pr xtrBlck Extranegra';
    --tamanio-h1:40px;
    --fuente-h2:'Avenir Black';
    --tamanio-h2: 20px;
    --fuente-h4:'Avenir Regular';
    --tamanio-h4:22px;
    --fuente-texto-chico:'Avenir Book';
    --tamanio-texto-chico:14px;
}

html{
    background-color: var(--backround-color);
}

/* TEXTOS */

.h1{
    font-family: var(--fuente-h1);
    font-size: var(--tamanio-h1);
}

.h2{
    font-family:var(--fuente-h2);
    font-size: var(--tamanio-h2);
}

.h4{
    font-family: var(--fuente-h4);
    font-size: var(--tamanio-h4);
}


.texto-chico{
    font-family:var(--fuente-texto-chico);
    color: #282725;
    font-size: var(--tamanio-texto-chico);
}
                                                                                               /* ASSETS */

/* CARD */

.gameContainer{
    margin: 0;
    border-radius: 0;
    min-width: 300px;
    width: 300px;
}

.card{
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,.08);
    overflow: visible;
    transition: .2s ease;
}

.card-Img{
    height: 170px;
    width: 300px;
    overflow: hidden;
}

.card .data{
    padding: 15px 16px 13px;
    width: 100%;
    background: #fff;
    position: relative;
    box-sizing: border-box;
}

.card .data-category-container {
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
}

.card .data-category {
    max-width: calc(100% - 40px);
}

.card .data .playBtn {
    z-index: 2;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 12px;
    right: 10px;
}

.playBtn{
    background-color: #080008;
    height: 56px;
    width: 56px;
    justify-content: center;
    align-items: center;
}

.playBtn .icon.links {
    background-image: url(../flecha.svg);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.card .titulo{
    color: #282725;
    font-size: 22px;
    white-space: nowrap;
    font-weight: 800;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.5em;
    line-height: 1.5em;
}


